@import url('https://fonts.googleapis.com/css2?fafamily=Balsamiq+Sans:wgth@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Balmsamic Sans';
}
header{
    text-align: center;
    background: #FF6600;
    color: #fff;
    padding: 20px 0;
}
.container{
    max-width: 700px;
    margin: auto;
    padding: 20px;
}
section{
    border: 2px solid #007bff;
    border-radius: 7px;
    padding: 10px;
    margin: 10px 0;

}
label{
    display: block;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px dashed #ccc;
    margin-bottom: 3px;
}
label:hover{
    background: #007bff;
}
button{
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;

    background-color: #FF6600;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
button:hover{
    background: #000;
    color: #fff;
}
h2{
    text-align: center;
}
#resultado{
    font-size: 30px;
    color: darkred;
}